.logo {
  height: 40vmin;
  pointer-events: none;
}

.background {
  background-color: #e9e9f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.large-text {
  font-size: calc(10px + 2vmin);
  width: 100vh;
  text-align: center;
}

.logo-link {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.25rem;
  color: white;
}

.spaced-link {
  display: block;
  padding: 0.5rem 1rem;
}

.form-box {
  color: black;
  min-height: 50vh;
  min-width: 50vh;
}

.big-label {
  font-size: calc(5px + 2vmin);
}

.error-message {
  padding-top: 0.5rem;
  color: red;
}

.success-message {
  padding-top: 0.5rem;
  color: green;
}

.result {
  min-height: 10vh;
  min-width: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.results-box {
  color: black;
  border-color: black;
  background: white;
}