.logo {
  height: 40vmin;
  pointer-events: none;
}

.background {
  background-color: #e9e9f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.large-text {
  font-size: calc(10px + 2vmin);
  width: 100vh;
  text-align: center;
}

.logo-link {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.25rem;
  color: white;
}

.spaced-link {
  display: block;
  padding: 0.5rem 1rem;
}

.content-box {
  color: black;
  min-height: 50vh;
  min-width: 50vh;
}
