.logo {
  margin: 10vh;
  height: 40vmin;
  pointer-events: none;
}

.background {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.large-text {
  font-size: calc(10px + 2vmin);
  width: 100vh;
  text-align: center;
}

.logo-link {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.25rem;
  color: white;
}

.spaced-link {
  display: block;
  padding: 0.5rem 1rem;
}

.form-box {
  color: black;
  min-height: 50vh;
  min-width: 50vh;
  padding: 10vh 0 3vh 0;
}

.big-label {
  font-size: calc(5px + 2vmin);
}

.error-message {
  padding-top: 0.5rem;
  color: red;
}

.success-message {
  padding-top: 0.5rem;
  color: green;
}

.table-box {
  height: 75vh;
  overflow: auto;
  min-width: 80vh;
}
